* {
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 600px;
}

header {
  display: flex;

  align-items: center;
  margin: 20px;
  padding: 3%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(221, 219, 219);
  color: black;
  border: solid black;
  border-radius: 30px;
}

nav {
  display: flex;

}

h1 {
  font-size: 200%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
  text-align: right;
}

nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
}

/* Start of Main Content */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

}

.columnl {
  width: 200px;
  text-align: right;
  margin-top: 50px;
  margin-right: 10px;
   flex-grow: 0;
  


}

.columnl2 {
  width: 200px;
  text-align: right;
  margin-top: 30px;
  margin-right: 10px;
   flex-grow: 0;


}

.columnlspace {
  width: 200px;
  text-align: right;
  border-right: 1px solid #000;
  flex-grow: 0;


}

.column-vertline {
  width: 10px;
  height: 300px;
  border-left: 5px solid #000;
}

.column-vertline2 {
  width: 10px;
  height: 300px;
  border: none;
}

.column-aboutpicture {

  margin: 0 0;
  max-width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;  
  }

.column-abouttext {
  margin: 0 0;
  min-width: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 75px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

p {
  text-align: left;
 }

.list li {
  padding-bottom: 20px;
}

h2 {
  text-align: right;
  font-size: 24px;
}

h3 {
  font-size: 12px;
}

.column-mainapp {
  text-align: center;
  margin: 0 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

}

.column-app2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

}

.column-contact {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

}

/* Form Input */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: gray;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



footer {
  text-align: center;
  margin: 10px;
  padding: 1%;
  background-color: rgb(221, 219, 219);
  color: black;
  border: solid black;
  border-radius: 30px;
}
@media screen and (max-width: 992px) {
  h2 {
    text-align: left;
    border: none;
  }

.columnl2 {
  display: none;
}

  .columnlspace {
    flex-grow: 0;
    width: 1px;
  }
  nav ul {
    flex-direction: column;
    min-width: 100px;
  }

  .column-vertline {
    width: 10px;
    height: 10px;
    border: none;

  
}
