* {
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
}

header {
  display: flex;

  align-items: center;
  margin: 20px;
  padding: 3%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(221, 219, 219);
  color: black;
  border: solid black;
  border-radius: 30px;
}

nav {
  display: flex;

}

h1 {
  font-size: 200%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
  text-align: right;
}

nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
}

/* Start of Main Content */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

}

.columnl {
  width: 200px;
  text-align: right;
  margin-top: 30px;
  margin-right: 10px;
   flex-grow: 0;


}

.columnlspace {
  width: 200px;
  text-align: right;
  border-right: 1px solid #000;
  flex-grow: 0;

}

.column-vertline {
  width: 10px;
  height: 300px;
  border-left: 5px solid #000;
}



.column-aboutpicture {

  margin: 0 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: .75;
  
  }

.column-abouttext {
  margin: 0 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 75px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

p {
  text-align: left;
 }

.list li {
  padding-bottom: 20px;
}

h2 {
  text-align: right;
  font-size: 24px;
}

h3 {
  font-size: 12px;
}

.column-mainapp {
  text-align: center;
  margin: 0 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 75px;
  padding-right: 75px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column-app2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

footer {
  text-align: center;
  margin: 10px;
  padding: 1%;
  background-color: rgb(221, 219, 219);
  color: black;
  border: solid black;
  border-radius: 30px;
}
@media screen and (max-width: 880px) {
  h2 {
    text-align: left;
    border: none;
  }



  .columnlspace {
    flex-grow: 0;
    width: 1px;
  }
  nav ul {
    flex-direction: column;
    min-width: 100px;
  }

  .column-vertline {
    width: 10px;
    height: 10px;
    border: none;

  
}
