* {
  box-sizing: border-box;
}

body {
  border: solid black;
  /* line-height: 1.3; */
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: orange;
  color: #fff;
  border: solid black;
}

Change font size of headings h1 {
  font-size: 200%;
}

nav ul {
  justify-content: space-between;
  min-width: 400px;
}

nav a {
  color: #b9c6ae;
  font-weight: bold;
  text-decoration: none;
}

/* Start of Main Content */

main {
  border: solid black;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border: solid blue;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border: solid red;
}
.column-left {
  min-width: 200px;
  background-color: green;
}

.column-aboutpicture {
  background-color: green;
}

.column-abouttext {
  background-color: green;
}

p {
  text-align: left;
}

h2 {
  text-align: right;
}

footer {

  justify-content: center;
   background-color: orange;
  color: black;
}
